In [10]:
import pandas as pd
import numpy as np

c_velo = pd.read_csv('csv_clean/comptage_velo.csv', sep=",")

In [11]:
c_velo.head()

,Identifiant du compteur,Identifiant du site de comptage,Nom du site de comptage,Comptage horaire,Date et heure de comptage,Coordonnées géographiques,mois_annee_comptage,jour mois annee comptage
0,100003096-353242251,100003096,97 avenue Denfert Rochereau,3.0,2021-10-01T03:00:00+02:00,"48.83504,2.33314",2021-10,2021-10-01
1,100003096-353242251,100003096,97 avenue Denfert Rochereau,91.0,2021-10-01T07:00:00+02:00,"48.83504,2.33314",2021-10,2021-10-01
2,100003096-353242251,100003096,97 avenue Denfert Rochereau,3.0,2021-10-01T05:00:00+02:00,"48.83504,2.33314",2021-10,2021-10-01
3,100003096-353242251,100003096,97 avenue Denfert Rochereau,1.0,2021-10-01T04:00:00+02:00,"48.83504,2.33314",2021-10,2021-10-01
4,100003096-353242251,100003096,97 avenue Denfert Rochereau,253.0,2021-10-01T08:00:00+02:00,"48.83504,2.33314",2021-10,2021-10-01

In [20]:
c_velo['id_date'] = c_velo['Date et heure de comptage'].str.slice(stop=10)
len(np.unique(c_velo['id_date']))
Temps=c_velo['id_date']
Temps=Temps.reset_index()

In [21]:
Temps['mois']= Temps['id_date'].str.slice(start=5,stop=7)
Temps['mois']= Temps['mois'].replace(['01','02','03','04','05','06','07','08','09','10','11','12'],['Janvier','Fevrier','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','Decembre'])
print(Temps)

         index     id_date      mois
0            0  2021-10-01   Octobre
1            1  2021-10-01   Octobre
2            2  2021-10-01   Octobre
3            3  2021-10-01   Octobre
4            4  2021-10-01   Octobre
...        ...         ...       ...
934415  934415  2022-11-22  Novembre
934416  934416  2022-11-22  Novembre
934417  934417  2022-11-22  Novembre
934418  934418  2022-11-22  Novembre
934419  934419  2022-11-22  Novembre

[934420 rows x 3 columns]

In [27]:
Temps['id_jour'] = pd.to_datetime(Temps['id_date'], format = "%Y-%m-%d")
test = pd.to_datetime(Temps['id_date'], format = "%Y-%m-%d")
test.day_name()

AttributeError: 'Series' object has no attribute 'day_name'